﻿@model BlogEngine.Models.Tag

@{
    ViewBag.Title = "Delete tag: " + Html.DisplayFor(model => model.Value);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    <p>Are you sure you want to delete the following tag?</p>
    <p><strong>@Html.DisplayFor(model => model.Value)</strong></p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color btn-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
    </div>
}
</div>
