﻿@model IEnumerable<BlogEngine.Models.Tag>

@{
    ViewBag.Title = "Tags management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tags management</h2>

<p class="btn-group btn-group-justified">
    @Html.ActionLink("Add new tag", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
                @if (item.Approved)
                {
                    <span class="label label-default">Approved</span>
                }
                else
                {
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @class = "label label-primary" })
                }
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </div>
            </td>
        </tr>
    }

</table>
</div>