﻿@model BlogEngine.Models.User

@{
    ViewBag.Title = "Delete user: " + Html.DisplayFor(model => model.UserName);
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger">
    <p>Are you sure you want to delete the following user?</p>
    <p><strong>@Html.DisplayFor(model => model.UserName)</strong> (@Html.DisplayFor(model => model.Email))</p>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color btn-group">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
    </div>
}