﻿@model BlogEngine.Models.User

@{
    ViewBag.Title = "User details: " + Html.DisplayFor(model => model.UserName);
}

<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Blogs)</th>
                <td>
                    <ul>
                        @foreach (BlogEngine.Models.Blog blog in Model.Blogs)
                        {
                            <li>@Html.ActionLink(blog.Title, "Details", "Blog", new { id = blog.Id }, new { })</li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
     
<p class="btn-group">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
</p>
