﻿@model IEnumerable<BlogEngine.Models.User>

@{
    ViewBag.Title = "Users management";
}

<h2>@ViewBag.Title</h2>

<p class="btn-group btn-group-justified">
    @Html.ActionLink("Add new blog article", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

