﻿@model BlogEngine.Models.Blog

@{
    ViewBag.Title = "Delete blog entry: " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="alert alert-danger">Are you sure you want to delete this blog entry?</p>

<h3>@Html.DisplayFor(model => model.Title)</h3>
@Html.Raw(Model.Content)


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="well">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
    </div>
}