﻿@model BlogEngine.Models.Blog

@{
    ViewBag.Title = "Details of article: " + Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            @if (User.IsInRole("Admin")) 
            { 
                <td>@Html.ActionLink(Model.Author.UserName + " (" + Model.Author.Email + ")", "Details", "User", new { id = Model.Author.Id }, new { })</td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.Author.UserName) (@Html.DisplayFor(model => model.Author.Email))</td>
            }
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tags)</th>
            <td>
                @foreach(var tag in Model.Tags) {
                    <span class="label label-default">@tag.Value</span>
                }
            </td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <td>@Html.Raw(Model.Content)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Approved)</th>
            <td>@Html.DisplayFor(model => model.Approved)</td>
        </tr>
    </tbody>
</table>

<p class="well">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
</p>
