﻿@model BlogEngine.Models.Blog

@{
    ViewBag.Title = "Edit article: " + Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.ListBoxFor(
                    model => model.TagsId,
                    new MultiSelectList(
                        @ViewBag.Tags,
                        "Id",
                        "Value"
                    ), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tags)

                <span class="btn btn-success btn-sm" data-toggle="modal" data-target="#addTag">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Approved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Approved)
                        @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <p class="alert alert-info">This post will be unapproved during the edit and need to be accepted again by an administrator.</p>
        }
        <div class="well">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    </div>
}

<form role="form" id="tagForm">
    <div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add a new tag</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="value">Keyword value</label>
                        <input class="form-control text-box single-line valid" data-val="true" data-val-required="The Value field is required." id="Value" name="Value" type="text" aria-required="true" aria-invalid="false">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tag.js"></script>   
}
