﻿@model IEnumerable<BlogEngine.Models.Blog>

@{
    ViewBag.Title = "Blog articles management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="btn-group btn-group-justified">
    @Html.ActionLink("Add new blog article", "Create", new { }, new { @class = "btn btn-primary" })
</p>
@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            <span class="label label-default">@tag.Value</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p class="alert alert-info">You have no blog entry on your blog.</p>
}