﻿@model PagedList.IPagedList<BlogEngine.Models.Blog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "List of articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@foreach (var item in Model)
{
    <article>
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        @Html.Raw(item.Content)
        <aside>
            @foreach (var tag in item.Tags)
            {
                <span class="label label-default">@tag.Value</span>
            }
        </aside>
    </article>
    <hr>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List", new { page }))