﻿@{
    ViewBag.Title = "Home Page";
}
<section id="content">
    <div id="loader" class="text-center">
        <img src="~/Content/loader.gif" alt="Image displayed while the page is loading" height="128" width="128" />
    </div>

    
    <div class="row">
        <div class="col-md-8">
            <h1></h1>
            <article></article>
        </div>
        <aside class="col-md-4"></aside>
    </div>
    <article></article>

    <hr />
    <aside class="info">
        <section>Posted: <span id="date"></span></section>
        <section>By: <span id="author"></span></section>
        <section id="tags"></section>
    </aside>
    <hr />
    <div class="btn-group btn-group-justified btn-group-xs">
        <a href="#" id="next" class="btn btn-default ajaxContent">Next article</a>
        <a href="#" id="prev" class="btn btn-default ajaxContent">Previous article</a>
    </div>
</section>
<p id="emptyAlert" class="alert alert-info" style="display: none;">There is nothing to display on this blog.</p>

@section Scripts {
    @Scripts.Render("~/bundles/home")
}